
.container{
    display: flex;
    justify-content:center;
}
.btn{
    margin: 15px;
    border: 2px solid black;
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 20%;
}
h1{
    text-align: center;
}
span{
    margin: 20px;
}
img{
    width: 100%;
    height: auto;
}