.container {
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
}
h1{
  width: 100%;
}
.btnContainer{
  display: flex;
  justify-content: center;
}

img{
  width: 50%;
  height: auto;
}
.container img {width: 50%;}
