.formContainer {
  max-width: 500px;
  width: 90%; /* чтобы адаптировалось на маленьких экранах */
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;

  margin: 0 auto; /* чтобы форма центрировалась по горизонтали */


}

.formTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 6px;
  font-weight: 500;
}

.input,
.textarea {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.textarea {
  height: 100px;
  resize: vertical;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.submitBtn {
  padding: 10px;
  background-color: #1e40af;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitBtn:hover {
  background-color: #1e3a8a;
}

